$color-dark-blue: #252839;
$color-grey: #677077;
$color-light-grey: #b5b5b7;
$color-yellow: #f2b632;

$padding-sm: 4px;
$padding-md: 10px;
$padding-lg: 20px;

$margin-sm: 4px;
$margin-md: 10px;

body {
  margin: 0;
  background: $color-grey;
  color: $color-yellow;
}

.page-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.page-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  background: $color-yellow;
  padding: $padding-md;

  .item {
    font-size: 18px;
    color: $color-grey;
    font-family: "Lato";
    padding: $padding-sm;
    border-bottom: 2px solid $color-yellow;
    cursor: pointer;
    text-decoration: none;
    
    &:hover {
      border-bottom: 2px solid $color-dark-blue;
    }
  }
}

.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);

  .login-page {
    display: flex;
    background: $color-dark-blue;
    padding: $padding-lg;
    flex-direction: column;
    border: 5px solid $color-yellow;

    .field {
      padding: $padding-sm;
      text-align: center;
      font-size: 18px;
      font-weight: bold;

      input {
        display: block;
        margin-top: $padding-md;
        border: 0px;
        padding: 4px;
        font-size: 16px;
        border: 2px solid $color-yellow;
      }

      button {
        border: 2px solid $color-yellow;
        background: white;
        padding: $padding-sm $padding-md;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          background: $color-yellow;
          transition: 0.5s;
          border: 2px solid white;
        }
      }
    }
  }
  .messenger-page {
    max-width: 1200px;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .messenger-container{
      flex-direction: row;
      width: 100%;
      height: 100%;
      flex-wrap: nowrap;
      display: flex;

      .messages {
        background: #b5b5b7;
        display: flex;
        flex: 1;
        height: 100%;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
        overflow-y: scroll;

        .message {
          background: $color-dark-blue;
          display: inline-block;
          padding: $padding-sm $padding-md;
          max-width: 200px;
          min-width: 150px;
          margin: $margin-sm 0px;
          border-radius: 8px;
    
          &.message-yours {
            align-self: flex-end;
            text-align: right;
          }

          .date { 
            font-size: 11px;
            text-align: right;
            color: white;
          }
        }
      }
  
      .friends-container { 
        height: 100%;
        background: $color-dark-blue;
        max-width: 300px;
        flex: 1;

        .friend {
          width: 100%;
          height: 70px;
          color: white;
          padding: 10px;
          display: flex;
          flex-direction: row;
          box-sizing: border-box;
          border-bottom: 5px solid #677077;
          cursor: pointer;

          .friend-initials {
            display: flex;
            justify-content: center;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            background: white;
            text-align: center;
            color: darkblue;
            padding-top: 11px;
            box-sizing: border-box;
            font-weight: bold;
          }

          .frient-message-name-container {
            display: flex;
            flex-direction: column;
            padding-left: $padding-md;

            .friend-name {

            }
          }
        }
      }
    }

    .message-bar{
      display: flex;
      width: 100%;
      align-self: flex-end;
      padding: $padding-md;
      background: $color-yellow;
      box-sizing: border-box;

      input {
        width: 100%;
        padding: 2px;
        font-size: 16px;
        text-align: right;
      }

      button {
        border: 2px solid $color-grey;
        background: white;
        padding: $padding-sm $padding-md;
        cursor: pointer;
        transition: 0.5s;
        margin-left: $margin-md;
      }
    }
  }
}
