$color-dark-blue: #252839;
$color-grey: #677077;
$color-light-grey: #b5b5b7;
$color-yellow: #f2b632;

$padding-sm: 4px;
$padding-md: 10px;
$padding-lg: 20px;

$margin-sm: 4px;

body {
  margin: 0;
  background: $color-grey;
  color: $color-yellow;
}

.page-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  background: $color-yellow;
  padding: $padding-md;

  .item {
    font-size: 18px;
    color: $color-grey;
    font-family: "Lato";
    padding: $padding-sm;
    border-bottom: 2px solid $color-yellow;
    cursor: pointer;
    text-decoration: none;
    
    &:hover {
      border-bottom: 2px solid $color-dark-blue;
    }
  }
}

.page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);

  .login-page {
    display: flex;
    background: $color-dark-blue;
    padding: $padding-lg;
    flex-direction: column;
    border: 5px solid $color-yellow;

    .field {
      padding: $padding-sm;
      text-align: center;
      font-size: 18px;
      font-weight: bold;

      input {
        display: block;
        margin-top: $padding-md;
        border: 0px;
        padding: 4px;
        font-size: 16px;
        border: 2px solid $color-yellow;
      }

      button {
        border: 2px solid $color-yellow;
        background: white;
        padding: $padding-sm $padding-md;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          background: $color-yellow;
          transition: 0.5s;
          border: 2px solid white;
        }
      }
    }
  }
}
